{% extends 'base.html.twig' %}
{% block body %}
	<main>
		<section class="produit-section container">
			<div>
				<h1>Qu'est ce que L.P.R</h1>
				<p>Crée en 2019, L.P.R ou La Percée Républicaine est une communauté issue du mode de jeux Clone Wars Rôle Play du jeux video Garry's Mod.
														Ayant rassemblé plus d'une cinquante de joueur au file des années, LPR est une communauté de passionné qui ce rassemble autour de leur passion commune, STAR WARS.</p>
			</div>
			<div>
				<h1>Nos projet les plus récents:</h1>
				<div>
					<h2><a style="color:green;" href="https://la-percee-republicaine.web.app/">Le 41st RP</a></h2>
					<p>Ouvert le 8 septembre 2023, et fermé le 5 novembre de la même année, le 41st RP était un serveur sur lequelle vous pouviez incarnez l'ensemble des unités de la 41st légion. Adoptant un style ce voulant plus réaliste, le 41st RP proposait une immersion complete avec un style basé sur STAR WARS Battlefront 2</p>
				</div>
				<div>
					<h2 style="color:blue;">le 501st RP</h2>
					<p>Ouvert le 15 avril 2023, et fermé le 14 juillet 2023, le 501st RP était un serveur sur lequelle vous pouviez prendre par à des batailles aux sein de la 501st légion. Adoptant un style ce voulant au plus proche de la série The Clone Wars, le 501st RP proposait une immersion complete avec le style CGI.</p>
				</div>
			</div>
			<div>
				<h1>Notre équipe</h1>
				<p>L'équipe LPR est une petite équipe de bénévole, qui ce découpe en 4 catégorie, les modérateurs, chargés de faire respecter les règles de la communautés, les animateurs, chargés de crée les scénarios et l'animations pour les joueurs du serveur, les développeurs, chargés de programmés le serveur et ses addons afin d'assurer une expérience unique aux joueurs, et enfin les administrateurs, chargés de supervisé l'équipe et le projet.</p>
			</div>
		</section>
	</main>
	{{ include('footer.html.twig') }}
{% endblock %}
