{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div>
            <h1></h1>
            <p></p>
            <a href="">Retournez au combat</a>
        </div>
    </section>
{% endblock %}