{% extends 'base.html.twig' %}
{% block body %}
	<main>
		<section class="container produit-section">
			<h1>Mentions légales :</h1>
			<div>
				<h2>Informations sur la structure :</h2>
				<p>Nom : La Percée Républicaine</p>
				<p>Contact : <a href="https://discord.gg/uBuP3a4tak">Discord</a></p>
				<p>Directeur de la publication : Arthas</p>
			</div>
			<div>
				<h2>Hébergeur du site :</h2>
				<p>Nom de l'hébergeur : Always Data</p>
			</div>
			<div>
				<h2>Propriété intellectuelle :</h2>
				<p>Tous les contenus présents sur ce site (textes, images, vidéos, etc.) sont la propriété intellectuelle de La Percée Républicaine ou de leurs propriétaires respectifs. Toute reproduction, distribution ou utilisation sans autorisation préalable est strictement interdite.</p>

			<h2>Protection des données personnelles :</h2>
		<p>Les informations collectées lors de la création d'un compte (pseudo, e-mail, mot de passe) sont utilisées uniquement dans le cadre de l'utilisation du site. Aucune autre donnée n'est collectée. Les données personnelles des utilisateurs ne sont ni vendues ni transmises à des tiers.</p>
	</div>
</section></main>{{ include('footer.html.twig') }}{% endblock %}
