{% extends 'base.html.twig' %}
{% block body %}
	<main>
		<section class="container produit-section">
			<div>
				<h1>Conditions d'utilisation :</h1>
				<h4>En utilisant ce site, vous acceptez les conditions d'utilisation suivantes :</h4>

				<p>
					<b>Création de compte :</b>
					Pour accéder à certaines fonctionnalités du site, vous devez créer un compte en fournissant un pseudo, une adresse e-mail et un mot de passe.</p>

				<p>
					<b>Utilisation du compte :</b>
					Vous êtes responsable de la confidentialité de votre compte et de vos informations de connexion. Vous vous engagez à ne pas partager vos identifiants de connexion avec des tiers.</p>

				<p>
					<b>Contenus du site :</b>
					Les contenus présents sur ce site (textes, images, vidéos, etc.) sont protégés par des droits d'auteur. Vous vous engagez à ne pas reproduire, distribuer ou utiliser ces contenus sans autorisation préalable.</p>

				<p>
					<b>Utilisation du site :</b>
					Vous vous engagez à utiliser ce site conformément à la loi et aux bonnes pratiques. Tout usage abusif ou frauduleux du site est strictement interdit.</p>

				<p>
					<b>Responsabilité :</b>
					La Percée Républicaine décline toute responsabilité en cas de dommages directs ou indirects résultant de l'utilisation de ce site.</p>

				<p>
					<b>Modification des conditions :</b>
					La Percée Républicaine se réserve le droit de modifier ces conditions d'utilisation à tout moment. Les modifications prendront effet dès leur publication sur le site.</p>

				<p>
					<b>En utilisant ce site, vous acceptez de respecter ces conditions d'utilisation. Si vous n'êtes pas d'accord avec ces conditions, veuillez ne pas utiliser ce site.</b>
				</p>
			</div>
		</section>
	</main>
	{{ include('footer.html.twig') }}
{% endblock %}
